@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.App {
  text-align: center;
  justify-content: center;
  margin-top: 7rem;
}
:root{
  --primary-btn-color :  #1f4547
}
.todos{
  list-style-type: none;
  text-align: center;
  width: 100vw;
  height: 50vh;
  overflow-y: auto;
}

.strike {
  text-decoration: line-through;
}

.d-flex{
display: flex;
}

.btn{
  background-color: var(--primary-btn-color);
  color: white;
}
.todo-text{
  margin-left: 8px;
}
.d-column{
  flex-direction: column; 
}
.gap-sm{
  gap: 8px;
}


